@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


nav {
    background-color: brown;
    padding: 2rem;
    margin-bottom: 4rem;
}

nav a {
    color: white; 
    padding: 0 1rem;
}

/* selectors */
/* li {
    color: red;
} */

/* div ul  {
    background-color: #6f0303;
} */

/* ul {
    color: red;
} */


/* Properties/attributes */
.fruit-list {
    color: #fff;
    background-color: cadetblue;
    /* padding: 8px 12px 8px 12px; */
    padding: 4px;
    /* margin: 8px; */
    margin-left: 40px;
    margin-right: 40px;
}

#fruits {
    background-color: coral;
}



/* Tables style */
table th {
    color: white;
    background-color: blue;
    border: none;
}


table td {
    border: none;
    background-color: aquamarine;
}



th,
td {
 padding: 10px;
 border: 1px solid #333;
}











